DB_HOST=db
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=gradorix

SECRET_KEY=your-secret-key
HASH_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7
GIGACHAT_TOKEN=your-gigachat_token

VAPID_PRIVATE_KEY=your-vapid-private-key
VAPID_PUBLIC_KEY=your-vapid-public-key
VAPID_SUBSCRIBER=admin@yourdomain.com

ADMIN_USERNAME=test
ADMIN_PASSWORD=test
